[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.test2
Exec=/usr/bin/ru.template.test2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=RemovableMedia;UserDirs;PublicDir
OrganizationName=ru.template
ApplicationName=test2
ExecDBus=/usr/bin/ru.template.test2
